[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
urlpath = "*"
requests = "*"
certifi = "*"
pika = "*"
dataclasses-json = "*"

[dev-packages]

[requires]
python_version = "3.9"
